<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/main.css">

    <title>Todos SSR</title>
</head>
<body style="background-color: <%= todo.backgroundColor %>">
    <h1>Todo</h1>
    <h1>nickname: <%= todo.nickname %></h1>
    <h2><%= todo.txt %></h2>
    <h4>importance: <%= todo.importance %></h4>
    <h4>category: <%= todo.category %></h4>
    
    

</body>
</html>